In [94]:
import pandas as pd
import numpy as np
df = pd.read_csv('CTG.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,1,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,IIII,23
0,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
1,240,357,0,0,0,0,0,0,0,120,...,-1,-1,-1,-1,-1,-1,1,-1,IX,suspect
2,5,632,4,0,4,2,0,0,0,132,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
3,177,779,2,0,5,2,0,0,0,133,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
4,411,1192,2,0,6,2,0,0,0,134,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,1576,3049,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2126,2796,3415,1,1,5,0,0,0,0,142,...,-1,-1,-1,-1,-1,-1,-1,-1,I,normal
2127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2128,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,...,53,81,72,332,252,107,69,197,NaN,NaN
2129,NaN,NaN,NaN,564,23,16,1,4,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check duplicates

In [95]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2125    False
2126    False
2127    False
2128    False
2129    False
Length: 2130, dtype: bool

Drop Duplicates

In [96]:
df.drop_duplicates(inplace=True)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,1,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,IIII,23
0,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
1,240,357,0,0,0,0,0,0,0,120,...,-1,-1,-1,-1,-1,-1,1,-1,IX,suspect
2,5,632,4,0,4,2,0,0,0,132,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
3,177,779,2,0,5,2,0,0,0,133,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
4,411,1192,2,0,6,2,0,0,0,134,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,1576,3049,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2126,2796,3415,1,1,5,0,0,0,0,142,...,-1,-1,-1,-1,-1,-1,-1,-1,I,normal
2127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2128,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,...,53,81,72,332,252,107,69,197,NaN,NaN
2129,NaN,NaN,NaN,564,23,16,1,4,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check if there is any missing data

In [97]:
df.isnull()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,1,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,IIII,23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2126,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2127,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2128,True,True,True,True,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,True
2129,True,True,True,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True

Drop entries with missing data

In [98]:
df = df.dropna()

Take the first row and make it the column header

In [99]:
df.columns = df.iloc[0]
df

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
1,240,357,0,0,0,0,0,0,0,120,...,-1,-1,-1,-1,-1,-1,1,-1,IX,suspect
2,5,632,4,0,4,2,0,0,0,132,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
3,177,779,2,0,5,2,0,0,0,133,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
4,411,1192,2,0,6,2,0,0,0,134,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,2059,2867,0,0,6,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2123,1576,2867,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2124,1576,2596,1,0,7,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2125,1576,3049,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2126,2796,3415,1,1,5,0,0,0,0,142,...,-1,-1,-1,-1,-1,-1,-1,-1,I,normal

drop first row at index 0

In [100]:
df = df.drop(df.index[0])
df

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
1,240,357,0,0,0,0,0,0,0,120,...,-1,-1,-1,-1,-1,-1,1,-1,IX,suspect
2,5,632,4,0,4,2,0,0,0,132,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
3,177,779,2,0,5,2,0,0,0,133,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
4,411,1192,2,0,6,2,0,0,0,134,...,-1,-1,-1,1,-1,-1,-1,-1,VI,normal
5,533,1147,4,0,5,0,0,0,0,132,...,-1,-1,-1,-1,-1,-1,-1,-1,II,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,2059,2867,0,0,6,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2123,1576,2867,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2124,1576,2596,1,0,7,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2125,1576,3049,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,V,suspect
2126,2796,3415,1,1,5,0,0,0,0,142,...,-1,-1,-1,-1,-1,-1,-1,-1,I,normal

Encoding categorical variables CLASS and NSP

In [102]:
df['CLASS'].replace(['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X' ],
                        [1,2,3,4,5,6,7,8,9,10], inplace=True)
df['NSP'].replace(['normal', 'suspect', 'pathologic'],
                        [1,2,3], inplace=True)

In [103]:
df

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
1,240,357,0,0,0,0,0,0,0,120,...,-1,-1,-1,-1,-1,-1,1,-1,9,2
2,5,632,4,0,4,2,0,0,0,132,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
3,177,779,2,0,5,2,0,0,0,133,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
4,411,1192,2,0,6,2,0,0,0,134,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
5,533,1147,4,0,5,0,0,0,0,132,...,-1,-1,-1,-1,-1,-1,-1,-1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,2059,2867,0,0,6,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2123,1576,2867,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2124,1576,2596,1,0,7,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2125,1576,3049,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2126,2796,3415,1,1,5,0,0,0,0,142,...,-1,-1,-1,-1,-1,-1,-1,-1,1,1

Drop the missing values

In [104]:
df.dropna(inplace = True)
df

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
1,240,357,0,0,0,0,0,0,0,120,...,-1,-1,-1,-1,-1,-1,1,-1,9,2
2,5,632,4,0,4,2,0,0,0,132,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
3,177,779,2,0,5,2,0,0,0,133,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
4,411,1192,2,0,6,2,0,0,0,134,...,-1,-1,-1,1,-1,-1,-1,-1,6,1
5,533,1147,4,0,5,0,0,0,0,132,...,-1,-1,-1,-1,-1,-1,-1,-1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,2059,2867,0,0,6,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2123,1576,2867,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2124,1576,2596,1,0,7,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2125,1576,3049,1,0,9,0,0,0,0,140,...,-1,-1,1,-1,-1,-1,-1,-1,5,2
2126,2796,3415,1,1,5,0,0,0,0,142,...,-1,-1,-1,-1,-1,-1,-1,-1,1,1

Removing unnecessary columns

In [105]:
df.columns

Index(['b', 'e', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'DR', 'LB', 'ASTV',
       'MSTV', 'ALTV', 'MLTV', 'A', 'B', 'C', 'D', 'E', 'AD', 'DE', 'LD', 'FS',
       'SUSP', 'CLASS', 'NSP'],
      dtype='object', name=0)

In [106]:
df = df.drop(['b', 'e','A','B','C','D','E','DR','AD','DE','LD','FS','SUSP' ], axis=1)
df

0    AC FM UC DL DS DP   LB ASTV MSTV ALTV  MLTV  CLASS  NSP
1     0  0  0  0  0  0  120   73  0.5   43   2.4      9    2
2     4  0  4  2  0  0  132   17  2.1    0  10.4      6    1
3     2  0  5  2  0  0  133   16  2.1    0  13.4      6    1
4     2  0  6  2  0  0  134   16  2.4    0    23      6    1
5     4  0  5  0  0  0  132   16  2.4    0  19.9      2    1
...  .. .. .. .. .. ..  ...  ...  ...  ...   ...    ...  ...
2122  0  0  6  0  0  0  140   79  0.2   25   7.2      5    2
2123  1  0  9  0  0  0  140   78  0.4   22   7.1      5    2
2124  1  0  7  0  0  0  140   79  0.4   20   6.1      5    2
2125  1  0  9  0  0  0  140   78  0.4   27     7      5    2
2126  1  1  5  0  0  0  142   74  0.4   36     5      1    1

[2116 rows x 13 columns]

Merging columns DL, DS and DP

In [108]:
df['DC'] = df[['DL', 'DS', 'DP']].mean(axis=1)
df

0    AC FM UC DL DS DP   LB ASTV MSTV ALTV  MLTV  CLASS  NSP         DC
1     0  0  0  0  0  0  120   73  0.5   43   2.4      9    2   0.000000
2     4  0  4  2  0  0  132   17  2.1    0  10.4      6    1  66.666667
3     2  0  5  2  0  0  133   16  2.1    0  13.4      6    1  66.666667
4     2  0  6  2  0  0  134   16  2.4    0    23      6    1  66.666667
5     4  0  5  0  0  0  132   16  2.4    0  19.9      2    1   0.000000
...  .. .. .. .. .. ..  ...  ...  ...  ...   ...    ...  ...        ...
2122  0  0  6  0  0  0  140   79  0.2   25   7.2      5    2   0.000000
2123  1  0  9  0  0  0  140   78  0.4   22   7.1      5    2   0.000000
2124  1  0  7  0  0  0  140   79  0.4   20   6.1      5    2   0.000000
2125  1  0  9  0  0  0  140   78  0.4   27     7      5    2   0.000000
2126  1  1  5  0  0  0  142   74  0.4   36     5      1    1   0.000000

[2116 rows x 14 columns]

In [109]:
df = df.drop(['DL', 'DS', 'DP'], axis=1)
df

0    AC FM UC   LB ASTV MSTV ALTV  MLTV  CLASS  NSP         DC
1     0  0  0  120   73  0.5   43   2.4      9    2   0.000000
2     4  0  4  132   17  2.1    0  10.4      6    1  66.666667
3     2  0  5  133   16  2.1    0  13.4      6    1  66.666667
4     2  0  6  134   16  2.4    0    23      6    1  66.666667
5     4  0  5  132   16  2.4    0  19.9      2    1   0.000000
...  .. .. ..  ...  ...  ...  ...   ...    ...  ...        ...
2122  0  0  6  140   79  0.2   25   7.2      5    2   0.000000
2123  1  0  9  140   78  0.4   22   7.1      5    2   0.000000
2124  1  0  7  140   79  0.4   20   6.1      5    2   0.000000
2125  1  0  9  140   78  0.4   27     7      5    2   0.000000
2126  1  1  5  142   74  0.4   36     5      1    1   0.000000

[2116 rows x 11 columns]

Feature scaling

In [110]:
for col in df.columns:
    df[col] = df[col].astype('float',errors = 'raise')

In [111]:
df.dtypes

0
AC       float64
FM       float64
UC       float64
LB       float64
ASTV     float64
MSTV     float64
ALTV     float64
MLTV     float64
CLASS    float64
NSP      float64
DC       float64
dtype: object

In [112]:
def scaler_from_0to1(series):
     return (series - series.min()) / (series.max() - series.min())

In [113]:
coll = ['AC', 'FM', 'UC', 'LB', 'ASTV', 'MSTV', 'ALTV',
       'MLTV', 'DC']
for col in coll:
    df[col] = scaler_from_0to1(df[col])
df

,AC,FM,UC,LB,ASTV,MSTV,ALTV,MLTV,CLASS,NSP,DC
1,0.000000,0.000000,0.000000,0.259259,0.813333,0.044118,0.472527,0.047337,9.0,2.0,0.000000
2,0.153846,0.000000,0.173913,0.481481,0.066667,0.279412,0.000000,0.205128,6.0,1.0,0.124844
3,0.076923,0.000000,0.217391,0.500000,0.053333,0.279412,0.000000,0.264300,6.0,1.0,0.124844
4,0.076923,0.000000,0.260870,0.518519,0.053333,0.323529,0.000000,0.453649,6.0,1.0,0.124844
5,0.153846,0.000000,0.217391,0.481481,0.053333,0.323529,0.000000,0.392505,2.0,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2122,0.000000,0.000000,0.260870,0.629630,0.893333,0.000000,0.274725,0.142012,5.0,2.0,0.000000
2123,0.038462,0.000000,0.391304,0.629630,0.880000,0.029412,0.241758,0.140039,5.0,2.0,0.000000
2124,0.038462,0.000000,0.304348,0.629630,0.893333,0.029412,0.219780,0.120316,5.0,2.0,0.000000
2125,0.038462,0.000000,0.391304,0.629630,0.880000,0.029412,0.296703,0.138067,5.0,2.0,0.000000
2126,0.038462,0.001773,0.217391,0.666667,0.826667,0.029412,0.395604,0.098619,1.0,1.0,0.000000

Renaming columns for redability

In [114]:
df = df.rename(columns={'AC': 'Accelarations', 'FM': 'Fetal Movements', 'UC': 'Uterine Contractions', 'LB': 'FHR Baseline',
                       'ASTV': 'Abnormal Short-term Variability', 'MSTV': 'Mean STV', 'ALTV': 'Abnormal Longterm Variability', 'MLTV': 'Mean LTV', 'NSP': 'Fetal State Class', 'DC': 'Decelerations' })

In [115]:
df

,Accelarations,Fetal Movements,Uterine Contractions,FHR Baseline,Abnormal Short-term Variability,Mean STV,Abnormal Longterm Variability,Mean LTV,CLASS,Fetal State Class,Decelerations
1,0.000000,0.000000,0.000000,0.259259,0.813333,0.044118,0.472527,0.047337,9.0,2.0,0.000000
2,0.153846,0.000000,0.173913,0.481481,0.066667,0.279412,0.000000,0.205128,6.0,1.0,0.124844
3,0.076923,0.000000,0.217391,0.500000,0.053333,0.279412,0.000000,0.264300,6.0,1.0,0.124844
4,0.076923,0.000000,0.260870,0.518519,0.053333,0.323529,0.000000,0.453649,6.0,1.0,0.124844
5,0.153846,0.000000,0.217391,0.481481,0.053333,0.323529,0.000000,0.392505,2.0,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2122,0.000000,0.000000,0.260870,0.629630,0.893333,0.000000,0.274725,0.142012,5.0,2.0,0.000000
2123,0.038462,0.000000,0.391304,0.629630,0.880000,0.029412,0.241758,0.140039,5.0,2.0,0.000000
2124,0.038462,0.000000,0.304348,0.629630,0.893333,0.029412,0.219780,0.120316,5.0,2.0,0.000000
2125,0.038462,0.000000,0.391304,0.629630,0.880000,0.029412,0.296703,0.138067,5.0,2.0,0.000000
2126,0.038462,0.001773,0.217391,0.666667,0.826667,0.029412,0.395604,0.098619,1.0,1.0,0.000000

Finding correlation matrix

In [116]:
rs = np.random.RandomState(0)
df = pd.DataFrame(rs.rand(11, 11))
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', axis=None)